In [1]:
import importlib
from utils.fetch_securties import *
from models.robinhood import *

In [2]:
df = fetch_securities(securities_dict)
df

,Ticker,Name,Exchange,Security Type,Sectors,Industry,Shares,Avg Cost,Cost Basis,Close Price,...,Annual Dividends,Dividend Yields,Volumes,Avg Volume,Betas,Declaration Dates,Ex Dividend Dates,Record Dates,Payment Dates,Earnings Dates
0,AAL,American Airlines Group Inc.,NASDAQ,EQUITY,Industrials,Airlines,1.0,11.0300,11.0300,11.560000,...,N/A,N/A,30703352,36450326,1.433,N/A,1580774400,N/A,N/A,N/A
1,ABSI,Absci Corporation,NASDAQ,EQUITY,Healthcare,Biotechnology,1.0,3.8900,3.8900,3.970000,...,N/A,N/A,544756,1330061,2.216,N/A,N/A,N/A,N/A,N/A
2,ACCD,"Accolade, Inc.",NASDAQ,EQUITY,Healthcare,Health Information Services,1.0,3.8700,3.8700,3.860000,...,N/A,N/A,758403,1527714,2.002,N/A,N/A,N/A,N/A,N/A
3,ADPT,Adaptive Biotechnologies Corporation,NASDAQ,EQUITY,Healthcare,Biotechnology,1.0,5.0200,5.0200,5.000000,...,N/A,N/A,1805328,1301192,1.433,N/A,N/A,N/A,N/A,N/A
4,AEO,"American Eagle Outfitters, Inc.",NYSE,EQUITY,Consumer Cyclical,Apparel Retail,1.0,21.0700,21.0700,21.959999,...,0.0237,0.0237,5280534,4508877,1.477,N/A,1728604800,N/A,N/A,N/A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117,VYNE,VYNE Therapeutics Inc.,NASDAQ,EQUITY,Healthcare,Biotechnology,1.0,1.9000,1.9000,1.840000,...,N/A,N/A,28572,40825,1.456,N/A,N/A,N/A,N/A,N/A
118,WBA,"Walgreens Boots Alliance, Inc.",NASDAQ,EQUITY,Healthcare,Pharmaceutical Retailers,5.0,9.1300,45.6500,9.060000,...,0.1174,0.1174,27330175,20767950,0.683,N/A,1724198400,N/A,N/A,N/A
119,WBX,Wallbox N.V.,NYSE,EQUITY,Technology,Electronic Components,5.0,1.3500,6.7500,1.200000,...,N/A,N/A,231546,315690,2.125,N/A,N/A,N/A,N/A,N/A
120,XCUR,"Exicure, Inc.",NASDAQ,EQUITY,Healthcare,Biotechnology,1.0,1.9800,1.9800,3.640000,...,N/A,N/A,46787,1387423,1.24,N/A,N/A,N/A,N/A,N/A
121,ZOM,Zomedica Corp.,NYSE,EQUITY,Healthcare,Medical Devices,17.0,0.1447,2.4599,0.132500,...,N/A,N/A,3022757,3011217,1.03,N/A,N/A,N/A,N/A,N/A

In [3]:
df_yes_options = df[df['Options Available'] == 'Yes']
df_yes_options

,Ticker,Name,Exchange,Security Type,Sectors,Industry,Shares,Avg Cost,Cost Basis,Close Price,...,Annual Dividends,Dividend Yields,Volumes,Avg Volume,Betas,Declaration Dates,Ex Dividend Dates,Record Dates,Payment Dates,Earnings Dates
0,AAL,American Airlines Group Inc.,NASDAQ,EQUITY,Industrials,Airlines,1.0,11.0300,11.0300,11.560000,...,N/A,N/A,30703352,36450326,1.433,N/A,1580774400,N/A,N/A,N/A
1,ABSI,Absci Corporation,NASDAQ,EQUITY,Healthcare,Biotechnology,1.0,3.8900,3.8900,3.970000,...,N/A,N/A,544756,1330061,2.216,N/A,N/A,N/A,N/A,N/A
2,ACCD,"Accolade, Inc.",NASDAQ,EQUITY,Healthcare,Health Information Services,1.0,3.8700,3.8700,3.860000,...,N/A,N/A,758403,1527714,2.002,N/A,N/A,N/A,N/A,N/A
3,ADPT,Adaptive Biotechnologies Corporation,NASDAQ,EQUITY,Healthcare,Biotechnology,1.0,5.0200,5.0200,5.000000,...,N/A,N/A,1805328,1301192,1.433,N/A,N/A,N/A,N/A,N/A
4,AEO,"American Eagle Outfitters, Inc.",NYSE,EQUITY,Consumer Cyclical,Apparel Retail,1.0,21.0700,21.0700,21.959999,...,0.0237,0.0237,5280534,4508877,1.477,N/A,1728604800,N/A,N/A,N/A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113,VICI,VICI Properties Inc.,NYSE,EQUITY,Real Estate,REIT - Diversified,1.0,33.1800,33.1800,33.119999,...,0.0526,0.0526,2744808,5353546,0.959,N/A,1726617600,N/A,N/A,N/A
115,VUZI,Vuzix Corporation,NASDAQ,EQUITY,Technology,Consumer Electronics,1.0,1.0500,1.0500,1.160000,...,N/A,N/A,1245423,1104830,1.495,N/A,N/A,N/A,N/A,N/A
116,VXRT,"Vaxart, Inc.",NASDAQ,EQUITY,Healthcare,Biotechnology,11.0,0.9718,10.6898,0.821100,...,N/A,N/A,1200890,2158904,0.672,N/A,1352419200,N/A,N/A,N/A
118,WBA,"Walgreens Boots Alliance, Inc.",NASDAQ,EQUITY,Healthcare,Pharmaceutical Retailers,5.0,9.1300,45.6500,9.060000,...,0.1174,0.1174,27330175,20767950,0.683,N/A,1724198400,N/A,N/A,N/A
119,WBX,Wallbox N.V.,NYSE,EQUITY,Technology,Electronic Components,5.0,1.3500,6.7500,1.200000,...,N/A,N/A,231546,315690,2.125,N/A,N/A,N/A,N/A,N/A

In [4]:
sectors_options_count = df_yes_options.groupby('Sectors').size().reset_index(name='Count')
sectors_options_count

                   Sectors  Count
0   Communication Services      4
1        Consumer Cyclical     16
2       Consumer Defensive      5
3                   Energy      5
4       Financial Services      5
5               Healthcare     21
6              Industrials      7
7                      N/A      7
8              Real Estate     10
9               Technology     11
10               Utilities      1

In [5]:
analysts_ratings_count = df.groupby('Analysts Rating').size().reset_index(name='Count')
analysts_ratings_count

  Analysts Rating  Count
0             N/A     10
1             buy     54
2            hold     40
3            none      6
4      strong_buy      8
5    underperform      4

In [13]:
import pandas as pd

bins = [0, 5, 10, 15, 20, 25, 30]
labels = ['4.99 and less', '5.00-9.99', '10.00-14.99', '15.00-19.99', '20.00-24.99', '25.00-29.99']
df['Market Value Group'] = pd.cut(df['Market Value'], bins=bins, labels=labels, right=False)
df_options = df[df['Options Available'] == 'Yes']
grouped = df_options.groupby('Market Value Group', observed=True).size().reset_index(name='Count')

grouped

  Market Value Group  Count
0      4.99 and less     29
1          5.00-9.99     16
2        10.00-14.99      6
3        15.00-19.99      4
4        20.00-24.99      4
5        25.00-29.99      2